*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  background-color: #1b1b32;
}
h1,
nav {
  color: #f5f6f7;
  margin: 1.1rem;
}
h1 {
  font-size: 2.5rem;
}
nav {
  font-size: 1.5em;
}
main {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  box-shadow: 9px 9px 5px #aeabb1;
  border-radius: 15px;
  background-color: #f5f6f7;
}
.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  box-sizing: border-box;
  padding: 10px;
  overflow: none;
}
div #search-input {
  margin: 0.3rem;
  padding: 10px;
  margin-right: none;
  font-size: 1.2em;
  text-align: center;
}
div #search-button {
  margin: 0.3rem;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 20px;
  background-color: #8037ab;
  color: #f1eff4;
  width: 100%;
}

#name-info {
  display: flex;
}
#creature-name {
  margin-right: 5px;
  font-weight: bold;
}
#details {
  float: left;
  clear: both;
  margin: 10px;
}
#details h3 {
  text-align: start;
  margin-left: 0;
}

#height-weight {
  font-size: 1.5rem;
  display: flex;
}
#height-weight p {
  margin: 0 10px;
}
#types {
  margin-top: 5px;
  display: flex;
}
#types div {
  border-radius: 5px;
  border: solid 1px none;
  font-size: 1.2rem;
  padding: 5px;
  margin-right: 5px;
  width: 100%;
}
#btn1 {
  margin-right: 5px;
}

#results-container {
  margin-top: 1.5rem;
}
table {
  clear: both;
  border-collapse: separate;
  border-spacing: 7px;
  width: 100%;
  margin-top: 20px;
}
th,
td {
  padding: 10px 20px;
  background-color: #8037ab;
  color: white;
}

table > caption {
  text-align: left;
  align-items: center;
  justify-content: center;
}
#special-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

#special-description {
  margin-bottom: 1.5rem;
}

.rows {
  border-spacing: 10px;
  margin: 10px;
}
#stats {
  clear: both;
  margin-top: 10px;
  width: 100%;
}

/* @media (min-width: 156px) {
  .input-div {
    display: flex;
    flex-direction: column;
}
} */

@media (min-width: 459px) {
  .input-div {
    display: flex;
    flex-direction: row;
  }
  .input-div > #search-button {
    margin: 0.3rem;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
    background-color: #8037ab;
  }
}
